---
oldstable:
  entry: |
    deb-src http://deb.debian.org/debian oldstable main contrib non-free
    deb http://deb.debian.org/debian oldstable main contrib non-free
bullseye-backports:
  entry: |
    deb-src http://deb.debian.org/debian bullseye-backports main contrib non-free
    deb http://deb.debian.org/debian bullseye-backports main contrib non-free
bullseye-backports-sloppy:
  entry: |
    deb-src http://deb.debian.org/debian bullseye-backports-sloppy main contrib non-free
    deb http://deb.debian.org/debian bullseye-backports-sloppy main contrib non-free
oldstable-proposed-updates:
  entry: |
    deb-src http://deb.debian.org/debian oldstable-proposed-updates main contrib non-free
    deb http://deb.debian.org/debian oldstable-proposed-updates main contrib non-free
oldstable-updates:
  entry: |
    deb-src http://deb.debian.org/debian oldstable-updates main contrib non-free
    deb http://deb.debian.org/debian oldstable-updates main contrib non-free
buildd-oldstable-security:
  entry: |
    deb-src https://<%= node["web_hostname"] %>/debian-security-embargoed buildd-oldstable-security main contrib non-free
    deb https://<%= node["web_hostname"] %>/debian-security-embargoed buildd-oldstable-security main contrib non-free
  allowed_users:
    - 252 # security-team
stable:
  entry: |
    deb-src http://deb.debian.org/debian stable main contrib non-free non-free-firmware
    deb http://deb.debian.org/debian stable main contrib non-free non-free-firmware
bookworm-backports:
  entry: |
    deb-src http://deb.debian.org/debian bookworm-backports main contrib non-free non-free-firmware
    deb http://deb.debian.org/debian bookworm-backports main contrib non-free non-free-firmware
bookworm-backports-sloppy:
  entry: |
    deb-src http://deb.debian.org/debian bookworm-backports-sloppy main contrib non-free non-free-firmware
    deb http://deb.debian.org/debian bookworm-backports-sloppy main contrib non-free non-free-firmware
proposed-updates:
  entry: |
    deb-src http://deb.debian.org/debian proposed-updates main contrib non-free non-free-firmware
    deb http://deb.debian.org/debian proposed-updates main contrib non-free non-free-firmware
stable-updates:
  entry: |
    deb-src http://deb.debian.org/debian stable-updates main contrib non-free non-free-firmware
    deb http://deb.debian.org/debian stable-updates main contrib non-free non-free-firmware
buildd-stable-security:
  entry: |
    deb-src https://<%= node["web_hostname"] %>/debian-security-embargoed buildd-stable-security main contrib non-free non-free-firmware
    deb https://<%= node["web_hostname"] %>/debian-security-embargoed buildd-stable-security main contrib non-free non-free-firmware
  allowed_users:
    - 252 # security-team
testing:
  entry: |
    deb-src http://deb.debian.org/debian testing main contrib non-free-firmware non-free non-free-firmware
    deb http://deb.debian.org/debian testing main contrib non-free-firmware non-free non-free-firmware
unstable:
  entry: |
    deb-src http://deb.debian.org/debian unstable main contrib non-free-firmware non-free non-free-firmware
    deb http://deb.debian.org/debian unstable main contrib non-free-firmware non-free non-free-firmware
buildd-unstable:
  entry: |
    deb-src http://incoming.debian.org/debian-buildd buildd-unstable main contrib non-free-firmware non-free non-free-firmware
    deb http://incoming.debian.org/debian-buildd buildd-unstable main contrib non-free-firmware non-free non-free-firmware
experimental:
  entry: |
    deb-src http://deb.debian.org/debian experimental main contrib non-free-firmware non-free non-free-firmware
    deb http://deb.debian.org/debian experimental main contrib non-free-firmware non-free non-free-firmware
buildd-experimental:
  entry: |
    deb-src http://incoming.debian.org/debian-buildd buildd-experimental main contrib non-free-firmware non-free non-free-firmware
    deb http://incoming.debian.org/debian-buildd buildd-experimental main contrib non-free-firmware non-free non-free-firmware

# local APT proxy, for tests:
proxy-debian-testing:
  entry: |
    deb-src https://<%= node['web_hostname'] %>/debian testing main contrib non-free-firmware non-free non-free-firmware
    deb https://<%= node['web_hostname'] %>/debian testing main contrib non-free-firmware non-free non-free-firmware
proxy-debian-unstable:
  entry: |
    deb-src https://<%= node['web_hostname'] %>/debian unstable main contrib non-free-firmware non-free non-free-firmware
    deb https://<%= node['web_hostname'] %>/debian unstable main contrib non-free-firmware non-free non-free-firmware

# Perl team test repo
perl536:
  entry: |
    deb [trusted=yes] http://perl.debian.net/test-repo/ perl536 main
    deb-src [trusted=yes] http://perl.debian.net/test-repo/ perl536 main
ruby-3.1:
  entry: |
    deb [trusted=yes] https://people.debian.org/~kanashiro/ruby3.1/ ./
